page-home {
    .backgroung{
        // background-color: rgb(216, 216, 216)
    }
    #Welcome{
        color: white;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .topicon{
     height: 50px;
      width: 60px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      object-fit: cover
    }
    .loction{
        height: 4vh;
        background-color: rgb(144, 144, 144);
        border-radius: 100px;
    }
  .test{
      position: relative;
    //   height: 10%;
    //   width: 100%;
      border-bottom-right-radius: 25px;
      background-color: #54894a;
      z-index: -1;
      box-shadow: 0px 15px 5px -15px #444444; 
      display: flex;
      justify-content: space-between;
  }
  .test1{
    position: absolute;
    height: 60%;
    width: 100%;
    border-bottom-right-radius: 70px;
    background-color: rgb(230, 230, 230);
    z-index: -1;
    //box-shadow: 0px 15px 20px -15px #444444; 
}
.toolbar-md {
    padding: 4px;
    min-height: 56px;
    border-bottom-right-radius: 10px;
}
ion-header {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
    background-color: transparent ! important;
}
    :focus, :active {
      
        outline-color: red;
        outline-style: none;
        outline-width: 2px;
    }
    .col{
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .grid {
     
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        // height: 100%;
    }
    .row {
    
        height: 26%;
    }
    .line{
        margin: 0 auto;
        width: 95%;
        border-bottom-color: rgb(156, 156, 156);
        border-bottom-width: 1px;
        border-bottom-style: solid
    }
    h3,h5{
        color: #000000;
        // padding: 0%;
         margin: 0%;
         
    }
    h3{
        padding-top: 0%;
        font-size: 70%  ! important;
    }
    h6{
        color: white ! important;
        // padding-left: 7%;
        
    }
    h1{
        //  padding-top: 13%;
        //  padding-left: 7%;
         margin: 0%; 
         color: white ! important;
    }
    p{
        color: white ! important;
        padding: 2%;
        margin: 0%;
    }
    .cards{
        width: 100%;
        //background-color: rgb(245, 245, 245)

    }
    .card2{
        height: 100%;
        //width: 100%;
        border-radius: 10px;
       // display: flex;
        box-shadow: 0px 15px 20px -15px rgb(53, 53, 53); 
       //background-color: rgba(255, 255, 255, 0.892)
    }
    .card21{
        height: 90%;
        border-radius: 8px;
        box-shadow: 0px 15px 20px -15px #444444; 
       //width: 90%;
    }
    .imgs{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 2px 0px    rgba(0, 0, 0, 0.3);
        // background-position: center;
        // background-size: cover;
        // background-repeat: no-repeat;
        object-fit: cover
    }
    .card-title-md {
        display: block;
        font-size: 1.5rem;
        line-height: 1.2;
        color: #222;
        margin: 0px 0;
        padding: 0px 0;
        // position: absolute;
        // top: 30%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        // color: white
   
    }
    .card-content-md {
        padding: 0px 0px;
        font-size: 1.2rem;
        line-height: 1;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        // color: white
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width: 90px;
        height: 80px;
        border-radius: 8px
    }
    .thumbnailion{
        padding: 0%
    }
    .searchbar-md .searchbar-input {
        padding: 6px 55px;
        border-radius: 100px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        background-color: rgb(250, 250, 250);
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    
    .iconsize{
        max-height: 4em;
        font-size: 5em;
        color: #5abaff;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 15px 20px -15px rgb(53, 53, 53); 
        object-fit: fill
    }
    .iconsizetop{
        font-size: 4em;
        color: #ffffff;
        margin: auto auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        
    }
    .iconsizeleft{
        font-size: 5.5em;
        color: #ffffff;
        margin: auto auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        // padding-top: 4%;
        // padding-right: 10%;
        
    }
    .textmove{
        position: relative;
        top: -30px
    }
    .iconsizeavatar{
        font-size: 3rem;
        color: #ffffff;
        margin: auto auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        
    }
   
    #theMap{
        width: 100%;
        height:100%;
        // z-index: -1;
       
        
       }
       #map {
        width: 100%;
        height: 100%;
      }
    //    .cardsbottom{
    //        width: 100%;
    //    }
  
       .slidesbottom{
            position: absolute;
            top: 78%;
          
       }
    
       .imgsbottom{
           width: 40%;
           height: 100px;
       }
  
  
    .cardbottom{
        border-radius: 8px;
        display: flex;
        // box-shadow: 0px 0px 10px    rgba(0, 0, 0, 0.514)
    }
    ion-card-title{
        padding:0px;
    }
   
ion-slides {
    //display: block;
    width: 100%;
    height: 20%; 
}
.fruits{
    display: flex;
}
 
   .scroll-content {
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     position: absolute;
//     z-index: 1;
//     display: block;
//     overflow-x: hidden;
//     overflow-y: scroll;
    -webkit-overflow-scrolling: touch !important;
//     will-change: scroll-position;
//     contain: size style layout;
}
// .movefabt{
//     position: absolute;
//     top: 70vh;
//     z-index: 9999;
// }
// .movefabb{
//     position: absolute;
//     top: 78vh;
//     z-index: 9999;
    
// }
// #hidekilos{
//     display: none;
// }
// #hidetime{
//     display: none;
// }
// .card-md .item-md.item-block .item-inner {
//     border: 0;
//     padding-left: 10px;
// }
.iconsizebottom{
    font-size: 2rem
}
.mapfab{
    background-image: linear-gradient(to bottom right, rgb(0, 38, 255), rgb(0, 247, 255));
}
h4{
   color: #000000;
   margin: 0%;
   font-size: 1.8rem;
}
.card2:active {
    background: rgba(194, 251, 255, 0.3);
}
.card21:active {
    background: rgba(198, 194, 255, 0.3);
}
.toolbar1{
    position: absolute;
    top: 100%
}
// .searchitem{
//     width: 100%;
//    position: absolute
// }
.item-md {
    // box-shadow: 0px 15px 20px -15px #111;
}
h2{
    
    position: relative;
    color: rgb(15, 15, 15)
}
// h3{
//     position: relative;
//        color: rgb(0, 0, 0)
//    }
// .list{
// padding-top: 0px;
// padding-bottom: 0px;
// margin-top: 10px;
// margin-bottom: 10px;
// box-shadow: 0px 15px 20px -15px #444444; 
//         border-radius: 10px
// }
// .list:nth-child(1n+1){
//      background: rgb(236, 255, 255);
//  }

// .list:nth-child(even) {
//     background: rgb(224, 225, 255);
// }
.avatar {
    background-image: linear-gradient(to top left,  #4e65ff, #92effd);
border-radius: 100px;
}

.letterinside{
font-size: 30px;
 margin: 0 auto; 
font-weight: bolder;
 text-transform: uppercase;
  margin-top: 3px;
  color: white;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.678)
}
.bottomlist{
    border-radius: 100px;
}
#card1{
    background: linear-gradient(to top left, #0396ff ,  #abdcff ); 
}
#card2{
    background-image: linear-gradient(to top left,  #4e65ff, #92effd); 
}
#card3{
    background-color: #54894a,
    //background: linear-gradient(to top left, #0396ff ,  #abdcff ); 

}
.topbutton{
//height: 1.8em;
border-color: #ffffff;
color: white;
display: flex;
justify-content: flex-end;
align-items: flex-end;
margin-left: 70%;
position: relative;
bottom: 15px;
}






.view{
  position: absolute;
    bottom: -10px;
    left: 80%;
width: 16vw;
height: 4.5vh;
border-top-left-radius: 15px;
background-color: #54894a;
// background: linear-gradient(to top left, #0396ff ,  #abdcff ); 
display: flex;
justify-content: center;
align-items: center;
// box-shadow: 0 -5px 5px -5px #333;

}
#viewtext{
    color: white;

}
.newrow{
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
    box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
}
.newmainlist{
    display: flex;
   
}
.newlist{
    height: 12vh;
    background-color: #fafafa;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    // margin-top: 10px;
    // margin-bottom: 10px;
    // box-shadow: 0px 15px 20px -15px #7e7e7e; 
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
    box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
 
    }
    .newavatar{
        height: 12vh;
        width: 100%;
        margin-top: 4%;
        padding: 0%;
        // border-radius: 100px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
        box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
    }
   
   .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 5px solid #ff0000 ;
    border-right: 1px solid #f70000;
    // border-bottom-width: 10% 
}
}