page-view {
    ion-content {
        overflow: hidden !important;
    }

    .theContainer {
        width     : 100%;
        height    : 100%;
        position  : relative;
        overflow  : scroll;
        background: whitesmoke;
    }

    .splitter {
        height: 50px;
    }

    .coverImage {
        width     : 100%;
        margin    : 0 auto;
        height    : 220px;
        background: whitesmoke;
        position  : relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
        z-index   : 10;
    }

    #date-of-issue {
        position   : absolute;
        top        : 10px;
        right      : 12px;
        color      : white;
        text-shadow: 0 0 10px black;
        font-weight: bold;
    }

    #myCover {
        width     : 100%;
        height    : 100%;
        object-fit: cover;
        z-index   : 1;
    }

    #myLogo {
        width        : 90px;
        height       : 90px;
        object-fit   : contain;
        position     : absolute;
        bottom       : -45px;
        left         : 50%;
        transform    : translateX(-50%);
        border-radius: 50px;
        background   : white;
        border       : 1px solid rgba(0, 0, 0, 0.445);
        box-shadow   : 0 5px 8px rgba(0, 0, 0, 0.267);
    }

    #description {
        transition      : 500ms;
        transition-delay: 100ms;
        margin          : 10px auto;
        width           : 100%;
        max-height      : 40px;
        overflow        : hidden;
        padding-bottom  : 10px;
    }

    #read-more {
        margin-top: -5px;
        color     : rgb(0, 68, 255)
    }

    #name-of-thing {
        font-weight: bolder;
        font-size  : 1.5em;
        text-align : center;
    }

    #name-of-organisation {
        color     : grey;
        text-align: center;
        padding   : 5px;
    }

    #region {
        color      : grey;
        text-align : center;
        font-weight: bold;
    }

    .view-body {
        background: white;
        z-index   : 10;
        text-align: center;
    }

    #viewInfo {
        height: 200px;
    }

    #seg-buttons {
        padding   : 0;
        margin-top: 10px;

        ion-segment {
            border-bottom: 1px solid rgba(0, 0, 0, 0.178);

            ion-segment-button {
                height     : 30px;
                line-height: 30px;
            }
        }
    }

    #show-from-segment1 {
        width     : 100%;
        max-height: 94%;
        background: whitesmoke;
        overflow-y: scroll;
        text-align: left;
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.171);

        p {
            padding-left : 5px;
            padding-right: 5px;
            font-size    : 12px;
        }
    }

    #show-from-segment2 {
        width     : 100%;
        min-height: 20vh;

        max-height: 94%;
        background: whitesmoke;
        margin-top: 0px;
        overflow-y: scroll;
    }

    #contactDetail {
        margin-top: -10px;
    }

    #more {
        border: 2px solid red;
        height: 14vh;
    }

    ion-grid {
        ion-row {
            ion-col {
                transition : 200ms;
                height     : 50px;
                color      : rgb(0, 100, 200);
                line-height: 20px;
                font-size  : 20px;

                p {
                    margin-top: 0;
                    font-size : 11px
                }

                div {
                    transition   : 200ms;
                    border       : 1px solid rgba(0, 0, 0, 0.288);
                    padding      : 0px;
                    padding-top  : 5px;
                    height       : 50px;
                    border-radius: 5px;
                }

                div:active {
                    background: rgb(177, 177, 177);
                }
            }

        }
    }

    #card {
        width        : 100%;
        margin       : 10px auto;
        background   : white;
        border-radius: 10px;
        overflow     : hidden;
        position     : relative;
        box-shadow   : 0 0 10px rgba(0, 0, 0, 0.295);
        border       : 1px solid rgba(0, 0, 0, 0.226);
    }

    #user {
        width  : 100%;
        display: flex;
        height : 60px;
    }

    .star-rating {
        position: absolute;
        right   : 10px;
        top     : 5px;
        color   : orange
    }

    #user>div:nth-child(1) {
        width  : 60px;
        height : 60px;
        padding: 5px;

        img {
            width        : 50px;
            height       : 50px;
            object-fit   : cover;
            border-radius: 50px;
            background   : whitesmoke;
        }
    }

    #user>div:nth-child(2) {
        width          : calc(100% - 50px);
        height         : 60px;
        padding        : 10px;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        text-align     : left;
    }

    #timestamp {
        margin-top: -10px;
        font-size : 11px;
        color     : grey;
    }

    #comment {
        padding   : 5px;
        text-align: left
    }
}

.scroll-content {
    overflow: hidden;
}