page-onboarding {
    .toolbar-background {
        background: rgb(221, 221, 221);
        border-color: transparent;
      }

      .slide {
        
        //   padding-left: 20px;
        //   padding-right: 20px;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          align-items: center;
      }
    
      .slide-zoom {
        height: 100%;
      }
    
      .slide-title {
        color: #142030;
        position: relative;
         //top: -10%;
         //left: 50%;
        //transform: translate(-50%,-50%);
        margin: 0 auto
      }
      .slide-titlestart{
        color: #142030;
        position: relative;
        top: -5%;
        margin: 0 auto
      }
    
      .slide-image {
        max-height: 30%;
        max-width: 40%;
        margin-bottom: 10px;
      }
    
      b {
        font-weight: 500;
      }
    
      p {
        font-size: 19px;
        color: #000000;
        line-height: 1.5;
    
        b {
          color: #000000;
        }
      }

      .continue-button {
        background-image: linear-gradient(to bottom right, rgb(0, 38, 255), rgb(0, 247, 255));
          border-radius: 50px;
          padding-left: 50px;
          padding-right: 50px;
          color: white;
          box-shadow: 0px 15px 20px -15px rgb(53, 53, 53); 
      }



      .next-button {
        background-image: linear-gradient(to bottom right, rgb(0, 38, 255), rgb(0, 247, 255));
        border-radius: 50px;
        padding-left: 100px;
        padding-right: 100px;
        color: #ffffff;
        box-shadow: 0px 15px 20px -15px rgb(53, 53, 53); 
    }
    h1{
        color: #fafafa;
        font-size: 5rem;
         position: relative;
         top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%)
    }
    .test{
        height: 100rem;
        width: 100rem;
        background-color: rgba(0, 100, 172, 0.1);
        z-index: 1;
        position: absolute;
        top: -20%;
        left: 70%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        transform: rotate(150deg);
        z-index: -1;
      }
      .test1{
        height: 100rem;
        width: 100rem;
        //background-color: rgba(5, 119, 201, 0.1);
        z-index: 1;
        position: absolute;
        top: -33%;
        left: 72%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        transform: rotate(90deg);
        z-index: -1;
      }
      .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
    }

}
