page-viewmore {
    .background{
        background-color: whitesmoke
    }
    .cards{
        border-radius: 8px
    }
    .col{
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .grid {
     
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        // height: 100%;
    }
    .row {
    
        height: 26%;
    }
    .line{
        margin: 0 auto;
        width: 95%;
        border-bottom-color: rgb(156, 156, 156);
        border-bottom-width: 1px;
        border-bottom-style: solid
    }
    h3,h5{
        //color: #000000;
        // padding: 0%;
         margin: 0%;
    }
    h5{
        color:#5391f5
    }
    h3{
        padding-top: 6%;
        color: #000000;
    }
}
