page-profile {

    .popover {
        position  : absolute;
        z-index   : 10000000;
        width     : 150px;
        background: whitesmoke;
        top       : 5px;
        right     : -50%;
        padding   : 5px;
        transition: 500ms;
    }

    .orgName {
        position : absolute;
        z-index  : 10;
        color    : white;
        top      : 50%;
        transform: translateY(-50%);
        width    : 100%;
    }
    .myGrid{
        width: 100%;
        display: flex;
    }
    .myGrid > div{
        width: 50%
    }
    .orgImage {
        position     : absolute;
        top          : 0;
        z-index      : 0;
        width        : 100%;
        height       : 100%;
        object-fit   : cover;
        border-radius: 10px;
    }

    .empty {

        width   : 100%;
        position: relative;
        top     : 20px;
    }

    .telescope {
        height   : 80px;
        width    : 80px;
        position : absolute;
        z-index  : 0;
        left     : 50%;
        top      : 12%;
        transform: translateX(-50%);
    }

    .itsEmpty {
        position  : absolute;
        top       : 100%;
        z-index   : 10000000;
        left      : 50%;
        color     : grey;
        transform : translate(-50%, 230%);
        text-align: center;
        display   : none;
    }

    .overlay {
        position  : absolute;
        text-align: center;
        top       : 0;
        z-index   : 0;
        width     : 100%;
        height    : 100%;
        background: rgba(0, 0, 0, 0.445);
        z-index   : 2;
    }

    .popoverOptions {
        height    : 30px;
        width     : 100%;
        text-align: left
    }

    .back {
        position   : absolute;
        left       : -10px;
        text-shadow: 0 0 5px black;
        z-index    : 1;
        transition : 700ms;
        box-shadow : 0 0 10px rgba(0, 0, 0, 0);
    }

    .settings {
        transition : 700ms;
        position   : absolute;
        right      : -10px;
        text-shadow: 0 0 5px black;
        z-index    : 1;
        box-shadow : 0 0 10px rgba(0, 0, 0, 0);
    }

    .displayPicture {
        width     : 100%;
        height    : 240px;
        object-fit: cover;
        z-index   : -1;
    }

    .gradient {
        height    : 241px;
        width     : 100%;
        background: linear-gradient(rgba(255, 255, 255, 0), white);
        position  : absolute;
    }

    .username {
        position   : absolute;
        text-align : center;
        bottom     : 10%;
        left       : 50%;
        width      : 100%;
        transform  : translateX(-50%);
        color      : rgb(80, 80, 80);
        text-shadow: 0 0 10px white;
    }

    #reviews {
        margin-top: -5px;
        font-style: italic;
        font-size : 12px;
    }

    .infogram {
        padding    : 10px;
        margin-top : 25px;
        font-weight: bold;
        color      : grey;
        z-index    : 10000000000000000000000000000000
    }

    .subInfogram {
        font-weight: bold;
        color      : rgb(77, 77, 77);
        font-size  : 12px;
    }

    .profile {
        position: relative;
    }

    .restOfBody {
        margin-top    : -30px;
        background    : white;
        padding-bottom: 0px;
        border-bottom : 1px solid rgba(189, 189, 189, 0.2);
        z-index: 100000000000000000000000000;
    }

    .list {
        height       : 20vh;
        position     : relative;
        border       : 0.5px solid rgba(177, 177, 177, 0.411);
        padding-top  : 0px;
        box-shadow   : 0 3px 10px rgba(128, 128, 128, 0);
        background   : white;
        border-radius: 10px
    }

    #myReviews {
        margin-top   : -10px;
        height       : 14px;
        border-bottom: 1px black;
    }

    #theAbout {
        margin-bottom: -10px;
    }

    .stars {
        position: absolute;
        width   : 100%;
        bottom  : 8px;
        z-index : 1000000000;
        color   : white;
    }

    ion-slides {
        height     : 22.5vh;
        background : rgb(255, 255, 255);
        padding-top: 10px;
        // border: 2px solid red;
    }

    .infoCard {
        box-shadow: 0 0 0 white;
    }

    .myBody {
        background: rgb(255, 255, 255);
        height: 100%;
        overflow-y: scroll;
    }

    h3 {
        text-transform: capitalize;
    }

    @media screen and (min-width: 500px) {

        .displayPicture {
            height: 40vh;
        }

        .gradient {
            height    : 40vh;
            width     : 100%;
            background: linear-gradient(rgba(255, 255, 255, 0), white);
            position  : absolute;
        }
    }
}

.scroll-content {
    overflow-y: scroll
}